.collapsible-container {
  min-width: 60%;
  max-width: 90%;
  margin: 2em auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.collapsible-header {
  background-color: #f4f4f4;
  padding: .2em;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.collapsible-header:hover {
  background-color: #e0e0e0;
}

.collapsible-content {
  padding: 10px;
  background-color: #fff;
  text-align: left;
}

.match-event {
  font-size: 14px;
  margin: 5px 0;
}